<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <!-- TITLE OF SITE-->
        <title><%=page_title%></title>
        
        <!-- META TAG -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CV, Portfolio, Resume">
        <meta name="author" content="Md. Siful Islam, Desiver Web">
        
        <!-- FAVICON -->
        <link rel="icon" href="assets/images/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-icon-114x114.png">

        <!-- ========================================
                Stylesheets
        ==========================================--> 
        
        <!-- MATERIALIZE CORE CSS -->
        <link href="assets/css/materialize.min.css" rel="stylesheet" >

        <!-- ADDITIONAL CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css" >
        

        <!-- All -->
        <!--<link href="assets/css/all.min.css" rel="stylesheet" type="text/css">-->

        <!-- FONTS -->
        <link href='https://fonts.lug.ustc.edu.cn/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.lug.ustc.edu.cn/icon?family=Material+Icons" rel="stylesheet">


        <!--FONTAWESOME CSS-->
        <link href="assets/icons/css/font-awesome.min.css" rel="stylesheet" type="text/css" >

        <!-- CUSTOM STYLE -->
        <link href="assets/css/style.min.css" rel="stylesheet">


        <!-- RESPONSIVE CSS-->
        <link href="assets/css/responsive.min.css" rel="stylesheet" >

        <!-- COLORS -->        
        <link rel="alternate stylesheet" href="assets/css/colors/red.css" title="red">
        <link rel="alternate stylesheet" href="assets/css/colors/purple.css" title="purple">
        <link rel="alternate stylesheet" href="assets/css/colors/orange.css" title="orange">
        <link rel="alternate stylesheet" href="assets/css/colors/green.css" title="green">
        <link rel="stylesheet" href="assets/css/colors/lime.css" title="lime">

        
        <!-- STYLE SWITCH STYLESHEET ONLY FOR DEMO -->
        <!--link rel="stylesheet" href="assets/css/demo.css" -->
        
        <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif] -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body>
        <!-- Start Container-->
        <div class="container">
            <!-- row -->
            <div class="row">
            <!-- =========================================
                           SIDEBAR   
            ==========================================-->
                <!-- Start Sidebar -->
                <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
                    <!--  Sidebar row -->
                    <div class="row">                      
                        <!--  top section   -->
                        <div class="heading">                            
                            <!-- ====================
                                      IMAGE   
                            ==========================-->
                            <div class="feature-img">
                                <a href="index.html"><img src="assets/images/profile-img.jpg" class="responsive-img" alt=""></a> 
                            </div>                            
                            <!-- =========================================
                                       NAVIGATION   
                            ==========================================-->
                            <div class=" nav-icon">
                                <nav>
                                    <div class="nav-wrapper">
                                      <ul id="nav-mobile" class="side-nav">                                  
                                        <li><a href="index.html">Resume</a></li>                                        
                                        <!--li><a href="self-introduction.html">Self-Introduction</a></li-->
                                        <!--li><a href="cover-latter.html">Cover Latter</a></li-->
                                        <!--li><a href="contact.html">Contact</a></li-->
                                      </ul>
                                      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu material-icons">menu</i></a>
                                    </div>
                                </nav>
                            </div>                            
                            <!-- ========================================
                                       NAME AND TAGLINE
                            ==========================================-->
                            <div class="title col s12 m12 l9 right  wow fadeIn" data-wow-delay="0.1s">   
                                <h2><%=name%></h2> <!-- title name -->
                                <span><%=tag%></span>  <!-- tagline -->
                            </div>                         
                        </div>
                         <!-- sidebar info -->
                        <div class="col l12 m12 s12 sort-info sidebar-item">
                            <div class="row">                               
                                <div class="col m12 s12 l3 icon"> <!-- icon -->
                                   <i class="fa fa-user"></i>
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
                                    <div class="section-item-details">
                                        <p><%=presentation%></p>
                                    </div>             
                                </div>
                            </div>         
                        </div>
                        <!-- MOBILE NUMBER -->
                        <%if(typeof(mobile_phone)!='undefined')  {%>
                        <div class="col l12 m12 s12  mobile sidebar-item">
                            <div class="row">                                
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-phone"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" >
                                    <div class="section-item-details">
                                        <div class="personal">
                                            <h4><a href="tel:<%=mobile_phone%>"><%=mobile_phone%></a></h4> <!-- Number -->
                                            <span>mobile</span> 
                                        </div>
                                    </div>
                                </div>
                            </div>             
                        </div>
                        <%}%>
                        <%if(typeof(wechat_id)!='undefined')  {%>
                        <!-- WeiXin -->
                        <div class="col l12 m12 s12  mobile sidebar-item">
                            <div class="row">                                
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-weixin"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" >
                                    <div class="section-item-details">
                                        <div class="personal">
                                            <h4><%=wechat_id%></h4> <!-- Number -->
                                            <span>wechat</span> 
                                        </div>
                                    </div>
                                </div>
                            </div>             
                        </div>
                        <%}%>
                        <!--  EMAIL -->
                        <div class="col l12 m12 s12  email sidebar-item ">
                            <div class="row">                                
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-envelope"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
                                    <div class="section-item-details">
                                        <div class="personal">                                    
                                            <h4><a href="mailto:<%=personal_mail%>"><%=personal_mail%></a></h4> <!-- Email -->
                                            <span>personal</span> 
                                        </div>
                                        <div class="work">                                 
                                            <h4><a href="mailto:<%=work_mail%>"><%=work_mail%></a></h4> <!-- Email -->
                                            <span>work</span> <br>
                                        </div>
                                    </div>
                                </div> 
                            </div>          
                        </div>
                        <!-- SKILLS -->
                        <div class="col l12 m12 s12  skills sidebar-item" >
                            <div class="row">
                                <div class="col m12 l3 s12 icon">
                                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                                </div>
                                 <!-- Skills -->
                                <div class="col m12 s12 l9 info skill-line wow fadeIn a3" data-wow-delay="0.5s">
                                    <h3>Professional Skills </h3>

                                    <%skills.forEach(function (e, index) {%>
                                    <span><%=e.key%></span>
                                    <div class="progress">
                                        <div class="determinate"><%=e.value%>%</div>
                                    </div>
                                    <%})%>
                                </div>
                            </div>
                        </div>

                        <!-- LINK -->
                        <div class="col l12 m12 s12  email sidebar-item ">
                            <div class="row">
                                <%if(typeof(github)!='undefined')  {%>
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-github"></i> <!-- icon -->
                                </div>                                
                                <div class="col m12 s12 l9 wow fadeIn a3" data-wow-delay="0.3s">
                                    <div class="section-item-details">
                                        <div class="personal">                                    
                                            <h4><a href="https://github.com/<%=github%>/" target="_blank">@<%=github%></a></h4> <!-- Email -->
                                            <span>GitHub</span> 
                                        </div>
                                   </div>
                                </div>
                                <%}%>

                                <%if(typeof(blog)!='undefined')  {%>
                                <div class="col m12 s12 l3 icon">
                                    <i class="fa fa-file-text"></i> <!-- icon -->
                                </div>                
                                <div class="col m12 s12 l9 wow fadeIn a3" data-wow-delay="0.3s">   
                                    <div class="section-item-details">      
                                        <div class="personal">                                 
                                            <h4><a href="<%=blog%>" target="_blank"><%=blog%></a></h4> <!-- Email -->
                                            <span>Blog</span> <br>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                            </div>          
                        </div>

                    </div>   <!-- end row -->

                </aside><!-- end sidebar -->

                <section class="col s12 m12 l8 section">
                    <div class="row">


                        <!--=======================================
                          self-introduction
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Self-Introduction </h2>
                                <%introduction.forEach(function (e, index) {%>
                                <div class="custom-content-wrapper wow fadeIn a<%=index+2%>" data-wow-delay="0.<%=index+2%>s" >
                                    <p><%-e%><p>
                                </div>
                                <%})%>
                            </div>
                        </div>


                        <!-- =========================================
                           Work experiences
                        ==========================================-->
                        <div class="section-wrapper z-depth-1">                            
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-suitcase"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
                                <h2>Work Experience</h2>

                                <%work.forEach(function (e, index) {%>
                                <div class="custom-content-wrapper wow fadeIn a<%=index+2%>" data-wow-delay="0.<%=index+2%>s">
                                    <h3><%=e.title%> <span>@<%=e.company%></span></h3>
                                    <span><%=e.date%></span>
                                    <p><%-e.text%></p>
                                </div>
                                <%})%>
                            </div>                            
                        </div>

                        <!-- ========================================
                         Education 
                        ==========================================-->

                        <div class="section-wrapper z-depth-1">
                            <div class="section-icon col s12 m12 l2">
                                <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                                <h2>Education </h2>

                                <%education.forEach(function (e, index) {%>
                                <div class="custom-content-wrapper wow fadeIn a<%=index+2%>" data-wow-delay="0.<%=index+2%>s" >
                                    <h3><%=e.professional%> <span>@<%=e.school%></span></h3>
                                    <span><%=e.date%></span>
                                    <p><%=e.text%></p>
                                </div>
                                <%})%>
                            </div>
                        </div>

                        <!-- =======================================
                          portfolio Website
                        ==========================================-->

                        <!--div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">                            
                            <div class="col s12 m12 l10 website right" >
                                <div class="row">
                                    <div class="col s12 m12 l6">
                                       <span><a href="http://undownding.me/">http://undownding.me/</a></span>
                                    </div>
                                    <div class="col col s12 m12 l6">
                                        <span><a href="https://gitcafe.com/undownding/">https://gitcafe.com/undownding/</a></span>
                                    </div>
                                </div>
                            </div>
                        </div-->
                    </div><!-- end row -->
                </section><!-- end section -->
            </div> <!-- end row -->
        </div>  <!-- end container -->
        
 <!--=====================
                JavaScript
        ===================== -->
        <!-- Jquery core js-->
        <script src="assets/js/jquery.min.js"></script>
        
        <!-- materialize js-->
        <script src="assets/js/materialize.min.js"></script>

        <!-- wow js-->
        <script src="assets/js/wow.min.js"></script>
        
        <!-- Map api -->
        <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->
        
        <!-- Masonry js-->
        <script src="assets/js/masonry.pkgd.js"></script>

        <script src="assets/js/validator.min.js"></script>
        
        <!-- Customized js -->
        <script src="assets/js/init.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '<%=ga_id%>', 'auto');
          ga('send', 'pageview');

        </script>
    
        <!-- =========================================================
            STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
        ===========================================================-->
        
        <!-- Style switter js -->
        <!--script src="assets/js/styleswitcher.js"></script -->
        
        <!--<div class="cv-style-switch" id="switch-style">-->
            <!--<a id="toggle-switcher" class="switch-button icon_tools"> <i class="fa fa-cogs"></i></a>-->
            <!--<div class="switched-options">                -->
                <!--<div class="config-title">-->
                    <!--Colors :-->
                <!--</div>-->
                <!--<ul class="styles">-->
                    <!--<li><a href="index.html#" onclick="setActiveStyleSheet('red'); return false;" title="Red">-->
                    <!--<div class="red"></div>-->
                    <!--</a></li>                    -->
                    <!---->
                    <!--<li><a href="index.html#" onclick="setActiveStyleSheet('purple'); return false;" title="purple">-->
                    <!--<div class="purple"></div>-->
                    <!--</a></li>-->

                    <!--<li><a href="index.html#" onclick="setActiveStyleSheet('orange'); return false;" title="orange">-->
                    <!--<div class="orange"></div>-->
                    <!--</a></li>-->
                    <!---->
                    <!--<li><a href="index.html#" onclick="setActiveStyleSheet('green'); return false;" title="green">-->
                    <!--<div class="green"></div>-->
                    <!--</a></li>-->
                    <!---->
                    <!--<li><a href="index.html#" onclick="setActiveStyleSheet('lime'); return false;" title="lime">-->
                    <!--<div class="lime"></div>-->
                    <!--</a></li>-->

                    <!--<li class="p">-->
                        <!--( NOTE: Pre Defined Colors. You can change colors very easily )-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

    </body>
</html>
